<!DOCTYPE html>
<html lang="zh-cn">

<head>
	<meta charset="UTF-8">
	<title>Harrie's Home</title>
	<link rel="stylesheet" href="/lib/normalize-css/normalize.css">
	<link rel="stylesheet" href="/styles/main.css">
</head>

<body>
	<header class="fp" id="header">
		<nav class="nav" data-role="toggleClass" data-clazz="nav-fixed">
			<h1 class="nav-title fl"><a href="#">Harrie's Home</a></h1>
			<ul class="nav-items fr">
				<li><a href="#whoami">Who am I</a></li>
				<li><a href="#skills">Skills</a></li>
				<li><a href="#projects">Projects</a></li>
				<li><a href="#contact">Contact</a></li>
				<!-- <li><a href="#">Blog</a></li> -->
			</ul>
		</nav>
		<section class="banner fp">
			<div class="inner fp tc">
				<a name="whoami"> </a>
				<div class="pr" style="top:140px;">
					<h1>Harrie</h1>
					<p class="f30 mt30 op80"><span data-role="typer">我是一个大四学生，/////&就读计算机专业。#我是一个程序猿，/////&也是一个技术爱好者。#爱设计，/////&爱编程，/////爱生活。</span><span class="typed-cursor">|</span></p>
				</div>
				<p class="pa w tc" style="bottom:10px">Read More ↓</p>
			</div>
		</section>
	</header>
	<section class="fp">
		<section class="pane-skill">
			<a name="skills"> </a>
			<div class="inner tc pt50 pb50">
				<header>
					<h2>Skills</h2>
					<p></p>
				</header>
				<section class="pr">
					<div class="pane-skill-box" data-role="parallax" data-factor="-0.034">
						<header class="left">
							<span class="icon">&lt;/&gt;</span>
							<p>前端</p>
						</header>
						<ul class="right">
							<li class="skill">html / css / javascript</li>
							<li class="level level-4">
							</li>
							<li class="skill">jquery / lodash / ajax / bootstrap / sematic ui</li>
							<li class="level level-4">
							</li>
							<li class="skill">angular.js / vue.js / less / lass</li>
							<li class="level level-3">
							</li>
						</ul>
					</div>
					<div class="pane-skill-box" data-role="parallax" data-factor="-0.056">
						<header class="left">
							<span class="icon">{;}</span>
							<p>后端</p>
						</header>
						<ul class="right">
							<li class="skill">node.js / express / mongodb</li>
							<li class="level level-4">
							<li class="skill">java ee / spring / hibernate / mysql</li>
							<li class="level level-3">
						</ul>
					</div>
					<div class="pane-skill-box" data-role="parallax" data-factor="-0.05">
						<header class="left">
							<span class="icon">+</span>
							<p>平面设计</p>
						</header>
						<ul class="right">
							<li class="skill">photoshop / illustrator</li>
							<li class="level level-4">
							<li class="skill">切图 / iconfont设计 / UI设计</li>
							<li class="level level-3">
						</ul>
					</div>
					<div class="pane-skill-box" data-role="parallax" data-factor="-0.046">
						<header class="left">
							<span class="icon">&</span>
							<p>其他</p>
						</header>
						<ul class="right">
							<li class="skill">npm / bower / webpack / gulp</li>
							<li class="level level-4">
							<li class="skill">git / hg / svn</li>
							<li class="level level-4">
							<li class="skill">C# WPF桌面软件开发</li>
							<li class="level level-4">
						</ul>
					</div>
					<div class="cf"></div>
				</section>
			</div>
		</section>
		<section class="pane-project fp">
			<a name="projects"> </a>
			<div class="inner tc pt50 pb50">
				<header class="white">
					<h2>Projects</h2>
					<p></p>
				</header>
				<section class="oh">
					<div class="item colunm-4">
						<img class="img" src="/images/5.png" alt="MineBox">
						<h4 class="title">[Node]Harrie's Blog</h4>
						<p class="description">个人博客系统</p>
						<a class="btn btn-dark" href="https://github.com/varHarrie/Harrie-sBlog" target="_blank">Github</a>
					</div>
					<div class="item colunm-4">
						<img class="img" src="/images/6.png" alt="MineBox">
						<h4 class="title">[Angular]mdEditor</h4>
						<p class="description">angular markdown编辑器</p>
						<a class="btn btn-dark" href="https://github.com/varHarrie/angular-mdeditor" target="_blank">Github</a>
					</div>
					<div class="item colunm-4">
						<img class="img" src="/images/1.png" alt="MineBox">
						<h4 class="title">[WPF]MineBox</h4>
						<p class="description">学生专用桌面工具集</p>
						<a class="btn btn-dark" href="https://git.oschina.net/varharrie/MineBox" target="_blank">Git@OSC</a>
					</div>
					<div class="item colunm-4">
						<img class="img" src="/images/2.png" alt="TodoBasket">
						<h4 class="title">[WPF]TodoBasket</h4>
						<p class="description">TodoList桌面软件</p>
						<a class="btn btn-dark" href="https://git.oschina.net/varharrie/TodoBasket" target="_blank">Git@OSC</a>
					</div>
					<div class="item colunm-4">
						<img class="img" src="/images/3.png" alt="Minechat">
						<h4 class="title">[Vue]Minechat</h4>
						<p class="description">NodeJS在线聊天室</p>
						<a class="btn btn-dark" href="https://git.oschina.net/varharrie/Minechat" target="_blank">Git@OSC</a>
					</div>
					<div class="item colunm-4">
						<img class="img" src="/images/4.png" alt="CCEngine">
						<h4 class="title">[JS]CCEngine</h4>
						<p class="description">Javascript模拟天体运动</p>
						<a class="btn btn-dark" href="https://git.oschina.net/varharrie/CCEngine" target="_blank">Git@OSC</a>
					</div>
				</section>
				<p>- More -</p>
				<p class="more mt10"><a href="https://git.oschina.net/varharrie">Git@OSC</a>&nbsp;&nbsp;&&nbsp;&nbsp;<a href="https://github.com">Github</a></p>
			</div>
		</section>
		<section class="pane-contact fp" data-role='bgSquare'>
			<a name="contact"> </a>
			<div class="inner tc pt50 pb50">
				<header class="white">
					<h2>Contact</h2>
					<p class="mt40">varharrie@gmail.com</p>
					<p class="mt20">varharrie@163.com</p>
					<p class="mt20">QQ: 584658235</p>
					<p class="mt20">Twitter: @HarrieUndefined</p>
				</header>
			</div>
		</section>
	</section>
	<footer></footer>
	<script src="/lib/jquery/dist/jquery.min.js"></script>
	<script src="/js/bgSquare.js"></script>
	<script src="/js/toggleClassByScroll.js"></script>
	<script src="/js/typing.js"></script>
	<script src="/js/parallax.js"></script>
</body>

</html>